@media (max-width:1400px) {
    #hero{
        justify-content: space-around;
    }
}
@media (max-width:1250px) {
    main{
        width: 90%;
    }
    #hero{
        justify-content: flex-start;
    }
    main{
        min-width: unset;
        margin-top: 120px;
    }
    .imagen-izquierda{
        height: 200px;
    }
    .imagen-derecha{
        height: 270px;
        bottom: 30px;
        left: 30px;
    }
    .cart{
        right: 0px;
    }
}
@media (max-width:1035px) {
    .hero-title{
        min-width: 400px;
    }
    .hero-title h1{
        font-size: 50px;
    }
    .hero-title .span-font{
        font-size: 40px;
    }
    main{
        width: 90%;
    }
    .imagen-izquierda{
        height: 170px;
        left: 80px;
    }
    .imagen-derecha{
        height: 220px;
        left: -10px;
        bottom: 50px;
    }
    .hero-img{
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@media (max-width:868px) {
    .imagen-derecha{
        display: none;
    }
    .imagen-izquierda{
        z-index: 100;
    }
}
@media (max-width:768px) {
    footer{
        flex-direction: column;
        gap: 25px;
    }
    .imagen-izquierda{
        left: 20px;
    }
    .recomendados h3,
    .categorias h3,
    .populares h3{
         text-align: center;
    }
}
@media (max-width:660px) {
    .card-popular{
        width: 320px;
    }
    .card-popular img{
        width: 275px;
        height: 97px;
    }
    .hero-title{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
@media (max-width:622px) {
    .hero-img{
        display: none;
    }
    .hero-title{
        min-width: unset;
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .nav-ul{
        gap: 30px;
    }
}
@media (max-width:480px) {
    .hero-title h1{
        font-size: 45px;
    }
    main{
        width: 98%;
    }
    .nav-ul li a span{
        display: none;
    }
    header{
        height: 75px;
    }
    nav > img{
        width: 55px;
    }
    #hero{
        margin-top: -20px;
        width: 90%;
    }
    .cart{
        top: 70px;
    }
    .hero-title{
        width: 100%;
    }
}
@media (max-width:390px) {
    #hero{
        width: 95%;
    }
}