@media (max-width:1400px) {
    #hero{
        justify-content: space-around;
    }
}
@media (max-width:1250px) {
    main{
        width: 90%;
    }
    #hero{
        justify-content: flex-start;
    }
    nav{
        min-width: unset;
        width: 90%;
    }
    main{
        min-width: unset;
        margin-top: 120px;
    }
    .imagen-izquierda{
        height: 200px;
    }
    .imagen-derecha{
        height: 270px;
        bottom: 30px;
        left: 30px;
    }
}
@media (max-width:1035px) {
    .hero-title{
        min-width: 400px;
    }
    .hero-title h1{
        font-size: 50px;
    }
    .hero-title span{
        font-size: 40px;
    }
    main{
        width: 90%;
    }
    .imagen-izquierda{
        height: 170px;
        left: 80px;
    }
    .imagen-derecha{
        height: 220px;
        left: -10px;
        bottom: 50px;
    }
    .hero-img{
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@media (max-width:868px) {
    .imagen-derecha{
        display: none;
    }
}
@media (max-width:768px) {
    footer{
        flex-direction: column;
        gap: 25px;
    }
    .imagen-izquierda{
        left: 20px;
    }
}
@media (max-width:622px) {
    .hero-img{
        display: none;
    }
    .hero-title{
        min-width: unset;
        width: 100%;
    }
    .nav-ul{
        gap: 30px;
    }
}
@media (max-width:430px) {
    .hero-title h1{
        font-size: 45px;
    }
    main{
        width: 98%;
    }
    .nav-ul li a span{
        display: none;
    }
    header{
        height: 80px;
    }
    nav > img{
        width: 65px;
    }
    #hero{
        margin-top: 0px;
    }
}